body {
	background-color : LightGrey;
	font-family: sans-serif;
}
td , caption , th { 
	text-align: center;
}
#info {
	float: left;
}
#source {
	float: right;
	text-align: right;
}
#lhtable {
	border: 1px solid black;
	background-color: PowderBlue;
}
#rptrtable {
	border: 1px solid black;
	background-color: Yellow;
}
#urltable {
	border: 1px solid black;
	background-color: White;
}
#linktable {
	border: 1px solid black;
	background-color: Lime;
}
#lhtable caption , #linktable caption , #rptrtable caption , #urltable caption{
	font-weight : bold;
	font-size : 2em;
	color : white;
	background-color : black;
	width : 100%;
}

#linktable , #lhtable , #rptrtable , #urltable {
	width: 100%;
}
